.title{
    text-decoration: none;
    color: #02563c;
    font-family: "Zain";
    font-size: 50px;
}
div{
	background-color: #669900;
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
    
}
a{
	text-decoration: none;
	font-size: 40px;
	padding: 15px;
	display: inline-block;
    color: black;
    font-family: "Zain", sans-serif;

    
}
ul{
	display: inline;
	margin: 0px;
	padding: 0px;
}
ul li{
    display: inline-block;
}
ul li:hover{background-color: #6f9d7d;}
ul li:hover ul{display: block;} 
ul li ul{
	position: absolute;
	width: 200px;
	display: none;

}
ul li ul li{
	background-color: #2a6f3d;
	display: block;
    font-size: 25px;
    text-align: center;
    padding: 6px;
    font-family: "Zain", sans-serif;
    

}
ul li ul li:hover{
	background-color: #aec26e;
	color: black;
}
.f{
    float: right;
}
.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 #ana{
 	margin-left: 550px;
 	margin-top: 100px;
 	width: 400px;
 	height: 700px;
 	background-color: #e6f2ff;
 	border-radius: 20px;
 	z-index: 1;
 	border: solid 1px;
 	position: relative;
}
 .profile{
 	border-radius: 50%;
 	margin-left: 130px;
 	margin-top: 50px;
 	width: 150px;
 	height: 150px;
 	
}
h3{
	font-size: 25px;
	font-family: "Zain";
	text-align: right;
	margin-right: 20px;
}
input{
	height: 40px;
	width: 75%;
	margin-left: 45px;
}
.par{
	font-size: 25px;
	font-family: "Zain";
	margin-left: 90px;
	margin-top: 0px;
}
.par:hover{
	color: blueviolet;
}
.submit{
	width: 200px;
	height: 45px;
	margin-top: 30px;
	margin-left: 100px;
	font-family: "Zain";
	font-size: 30px;
	color: white;
	background-color: #0080ff;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
}
#d2{
	width: 100%;
	z-index: 1;
	position: relative;
	margin-bottom: 0px;
	background-color:   #000066;
	height: 170px;
}
.p2{
	text-align: center;
	color: white;
	font-family: "Zain";
	font-size: 20px;

}

