.title{
    text-decoration: none;
    color: #02563c;
    font-family: "Zain";
    font-size: 50px;
}

#navbar{
	background-color: #669900;
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
    z-index: 2;
}
a{
	text-decoration: none;
	font-size: 40px;
	padding: 15px;
	display: inline-block;
    color: black;
    font-family: "Zain", sans-serif;

    
}
ul{
	display: inline;
	margin: 0px;
	padding: 0px;
}
ul li{
    display: inline-block;
}
ul li:hover{background-color: #6f9d7d;}
ul li:hover ul{display: block;} 
ul li ul{
	position: absolute;
	width: 200px;
	display: none;

}
ul li ul li{
	background-color: #2a6f3d;
	display: block;
    font-size: 25px;
    text-align: center;
    padding: 6px;
    font-family: "Zain", sans-serif;
    

}
ul li ul li:hover{
	background-color: #aec26e;
	color: black;
}
.f{
    float: right;
}
.zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .img1{
  	margin-top: 40px;
  	margin-bottom: 20px;
  	width: 100%;
  }
  #div1{
  	margin: 0px;
  	padding: 0px;
  	background-color: #ddddbb;
  	border-radius: 20px;
  	display: inline-block;
  	position: relative;
  	width: 200px;
  	margin-right: 20px;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	z-index: 1;

  }

  .img2{
  	border-radius: 20px;
  	width: 200px;
  	height: 300px;
  	box-align: center;
  }
  .par1{
  	font-size: 30px;
 	font-family: "Zain";
 	text-align: center;
  }
  .left{
  	left: 400px;
  }
  .heading{
 	color: #55552b;
 	text-align: center;
 	font-size: 40px;
 	font-family: "Zain";
 }
#d2{
    width: 100%;
    z-index: 1;
    position: relative;
    margin-bottom: 0px;
    background-color:   #000066;
    height: 170px;
}
.p2{
    text-align: center;
    color: white;
    font-family: "Zain";
    font-size: 20px;

}

